@{
    ViewBag.Title = "About";
}
<h1>About Us</h1>

<p>Whenever you buy a sneaker from us, we want you to be confident that it's going to be the right sneaker for you. That's been our primary goal throughout our history. That's why we only sell the highest quality Carvellas, Nike, and Adidas kicks.</p>



