@{
    ViewBag.Title = "Access Denied";
}

<div class="bg-danger mb-1 p-2 text-white">
<h4 class="fst-italic text-center">Access Denied</h4>
</div>

<a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">OK</a>