@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Log In</h2>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<form asp-action="Login" asp-controller="Account" method="post">

    <input type="hidden" asp-for="ReturnUrl" />

    <div class="mb-3">
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for="UserName" class="form-control" />
        <div><span asp-validation-for="UserName" class="text-danger"></span></div>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <div><span asp-validation-for="Password" class="text-danger"></span></div>
    </div>
    <div class="mb-2">
        <input type="checkbox" title="Remember Me" asp-for="RememberMe"
               class="form-check-inline" /> <label>Remember Me</label>
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
</form>

<div>
    <a asp-action="Register" asp-controller="Account">Register</a>
</div>
