@{
    ViewData["Title"] = "Review submitted successfully";
}

<h2 class="text-center text-bg-dark">
    Review submitted successfully!!!
</h2>

<br />
<hr />
<a asp-action="Details" asp-controller="Sneaker" class="btn btn-outline-primary">Back</a>
