@model Sneaker
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Delete Sneaker";
}

<h1>Confirm Deletion</h1>
<h3>@Model.Name</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="SneakerId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>
